<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title class="center"> <h3>Peliculas</h3> </ion-title>
    <ion-searchbar [animated]="true" (ionInput)="searchFilm($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Peliculas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-filmlist *ngFor="let film of films" [film]="film"></app-filmlist>
  </ion-list>
</ion-content>